@model Category
<li class="cat-item has-children">
    <a href="#">@Model.Title</a>
    <ul class="sub-menu">
        <li><a href="#">Bags & Cases</a></li>
        <li><a href="#">Binoculars & Scopes</a></li>
        <li><a href="#">Digital Cameras</a></li>
        <li><a href="#">Film Photography</a></li>
        <li><a href="#">Lighting & Studio</a></li>
    </ul>
</li>
